#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Helvetica";
}

* {
  margin: 0;
  padding: 0;
}

body,html,div {
  height: 100%;
  width: 100%;
  border: 10px;
  border-color: black;
}

body {
  border: 1px solid black;
  border-color: black;
}

ul {
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
}

li,h3 {
  padding: 0 1rem;
  margin: 1rem 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.pageContainer {
  display: block;
  max-width: 100%;
  color: rgb(255, 255, 255);
  border: 1px;
  border-width: 1px;
  border-color: black;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: start;
  align-items: start;
  text-align: left;
  padding: 0.5rem;
  width: 100%
}

.textContainer {
  display: inline-block;
  flex: 1;
  flex-direction: row;
  align-content: start;
  align-items: start;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
  text-wrap: wrap;
}

.mainText {
  text-wrap: wrap;
  padding: 1rem;
  margin: 0;
}

.subText {
  text-wrap: wrap;
  color:#9b9b9b
}

.read-the-docs {
  color: #888;
}
