.navbar {
    display: flex;
    width: '100%';
    justify-content: space-between;
    align-items: center;
    background-color: #0c062e;
    color: #fff;
    padding: 0.5rem 0;
    font: "Helvetica";
  }

  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    align-items: start;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 0.5rem;
    color: white;
  }
  
  .navbar-center .nav-links li {
    margin: 0 2rem;
    font-size: 1.5rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    align-items: start;
    align-content: start;
  }

  .navbar-right .nav-links {
    list-style-type: none;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 0.5rem;
    color: white;
  }

  .navbar-right .nav-links li {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .navbar-left .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-align: left;
  }
  
  .navbar-right {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .navbar-center input {
    padding: 12px 20px;
    border: none;
    background-color: #f8f8f8;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
  }
  